<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap-custom.css">
    <link rel="stylesheet" href="../css/icons.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/custom.css">
    <link rel="stylesheet" href="../css/profile.css">
    <title>Document</title>
</head>
<body>
    <div class="main_container">
        <div class="main_wrapper">
            <header class="header">
                <div class="logo_container">
                    <div>
                        <p class="logo">ZABLOT</p>
                    </div>
                    <button class="add_coin_wrapper btn">
                        <i></i>
                        <span class="main_add_coins">Add Coins</span>
                    </button>
                </div>
                <div class="header_wrapper">
                    <div class="nav_shortcut">
                        <ul class="ul_shortcut">
                            <li class="li_shortcut">Home</li> <span> > </span>
                            <li class="li_shortcut"><a href="#" class="dashboard">Dashboard</a></li> <span> > </span>
                            <li class="li_shortcut"><a href="#" class="profile">Settings</a></li> <span> > </span>
                            <li class="li_shortcut"><a href="settings/userAccount" class="profile">User Account</a></li> <span> > </span>
                        </ul>
                    </div>
                    <div class="navigator">
                        <div class="ul_list toast">
                            <div class="toggle_active_to_navigator">
                                MENU
                                <a href="#" class="toggle_active_"><i class="ion-ios-arrow-down show_hide"></i></a>
                            </div>
                            <ul class="ul_wrapper">
                                <li>
                                    <div class="user_profile">
                                        <div class="user_image">
                                            <a href="#">
                                                <img src="/static/media/1.4b0d09c4.jpg" class="userImage" alt="">
                                            </a>
                                        </div>
                                        <div class="user_name_wrapper">
                                            <p class="user_real_name">
                                                JAMES ODERINDE
                                                <span class="user_name">
                                                    @TJ_DIBBS
                                                </span>
                                            </p>
                                            
                                        </div>
                                        
                                    </div>
                                </li>
                                <li><a href="#">Profile</a></li>
                                <li>Chats</li>
                                <li>Room</li>
                                <li>Challenge</li>
                                <li>Active Users</li>
                                <li>Account Settings</li>
                                <li><a href="#">Log out</a></li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
                <div class="fast_access_container">
                    <ul>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                    </ul>
                </div>
            </header>           
            <div class="profile_container">
                <div class="profile_wrapper">
                    <div class="profile_header">
                        <div class="user_image_profile">
                            <img src="/static/media/1.4b0d09c4.jpg" alt="">
                        </div>
                        <div class="user_name_profile_wrapper">
                            <p class="user_real_name_profile">
                                JAMES ODERINDE
                                <span class="user_name_profile">
                                    @TJ_DIBBS
                                </span>
                            </p>
                            
                        </div>
                        <div class="bio_wrapper">
                            <h6>BIO:</h6>
                            <p class="bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci aliquam, nihil, laudantium vero dolores reiciendis earum perferendis eos corporis repellendus nemo et suscipit corrupti reprehenderit. <a href="#" class="edit">Edit</a></p>
                            
                        </div>
                    </div>
                    <section class="profile_section">
                        <div class="wrap_section">
                            <ul class="ul_profile">
                                <li class="li_profile">
                                    Coins: <span>800</span>
                                    <a href="" class="add_coins">Add+</a>
                                </li>
                                <li class="li_profile">
                                    Rates: <span>4 star</span>
                                </li>
                                <li class="li_profile">
                                    Gender: <span>Male</span>
                                </li>
                                <li class="li_profile">
                                    Nationality: <span>Nigeria</span>
                                </li>
                                <li class="li_profile">
                                    Currency : <span>Naira (#)</span>
                                </li>
                            </ul>
                        </div>
                        <div class="other_profile_detail">  
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa praesentium id delectus quibusdam eaque aliquam, ipsum aut optio asperiores perferendis suscipit iure deserunt cupiditate quasi mollitia, cum officiis veritatis. Assumenda.</p>

                        </div>
                        <div class="change_details">
                            <h6 class="wanna_change">
                                Do you want to change Profile
                            </h6>
                            <button class="btn">Edit Profile</button>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <script src="../javascript/jquery.min.js"></script>
    <script src="../javascript/main.js"></script>
</body>
</html>