@import "./global";
@import "./mixins";

.alert {
  background: #1b7e1bab;
  border-radius: 5px;
  font-size: 0.7em;
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;

  .close {
    font-size: 1.6em;
    display: inline-block;
    background: #fff;
    border: none;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    color: gray;
  }
}

.auth {
  .wrapper-flex {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 3em auto;
    justify-content: space-around;
    position: relative;
    // background-color: $skyblue;
    // border-radius: 66% 40% 41% 58% / 54% 45% 58% 58%;
    min-height: 100vh;

    &::before {
      content: "";
      position: absolute;
      width: 1000px;
      height: 1000px;
      border-radius: 50%;
      background-color: $skyblue;
      right: -300px;
      top: 200px;
    }
    &::after {
      content: "";
      position: absolute;
      width: 900px;
      height: 900px;
      border-radius: 50%;
      background-color: $skyblue;
      left: -100px;
      top: -600px;
    }

    @include media_max_500 {
      margin: 1em;
      &::before {
        content: initial;
      }
    }
  }

  .auth-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
    justify-content: space-between;
    padding: 10px 20px;
    max-width: 1200px;
    margin: auto;
    position: relative;
    z-index: 20;

    .logo {
      font-size: 1.5em;
      color: $btn-secondary;
      font-weight: 1000;
      font-family: Nunito;
    }

    .header-center {
      display: flex;
      gap: 1em;

      a {
        text-decoration: none;
        color: $text-secondary;
        font-size: 0.8em;
        font-weight: 500;
      }
    }

    .header-right {
      display: flex;
      gap: 0.5em;

      .link {
        background-color: $btn-secondary;
        color: #fff;
        font-weight: 500;
        text-decoration: none;
        padding: 8px 20px;
        font-size: 0.8em;
        border-radius: 50px;
        display: block;

        &.signin-link {
          background: none;
          border: 1.5px solid $btn-secondary;
          color: $btn-secondary;
        }

        transition: $transition;

        &:hover {
          background-color: $btn-secondary;
          transform: scale(1.1);
          color: #fff;
        }

        &:active {
          transform: scale(0.8);
        }
      }
    }

    @include media_max_500 {
      .header-center {
        display: none;
      }
    }
  }
  .auth_form {
    background-color: rgba(255, 255, 255, 0.602);
    box-shadow: $shadow-primary;
    backdrop-filter: blur(2px);
    width: 350px;
    max-width: 90vw;
    margin-top: 1em;
    padding: 2em;
    border-radius: 10px;
    padding-bottom: 4em;
    position: relative;
    z-index: 100;

    .primary-text {
      font-weight: 600;
      font-size: 1.5em;
      text-align: center;
      color: $btn-primary;
      margin-bottom: 2em;
    }

    .secondary-text {
      font-size: 0.8em;
      margin-top: 1em;
    }

    .form-group {
      margin-top: 1em;
      position: relative;

      .form-control {
        width: 100%;
        padding: 15px;
        background-color: $skyblue;
        border: thin solid $btn-secondary;
        color: inherit;
        font-family: Poppins;
        border-radius: 50px;
        outline: none;
        box-shadow: $shadow-secondary;

        &.user-gender {
          font-size: 13px;
          color: grey;
          font-weight: 400;
          cursor: pointer;
        }
      }

      .options-wrapper {
        background-color: #fff;
        font-weight: 400;
        padding: 10px;
        border-radius: 10px;
        box-shadow: $shadow-primary;
        position: absolute;
        z-index: 100;
        width: 100%;
        font-size: 14px;
        margin-top: 5px;
        color: rgba(0, 0, 0, 0.8);
        pointer-events: none;
        opacity: 0;
        transform: scale(0.8);

        .option {
          transition: $transition;
          cursor: pointer;
          padding: 5px;
          border-radius: 5px;

          &:active,
          &:hover {
            background-color: $skyblue;
          }
        }
      }

      .invalid-feedback {
        color: red;
        font-size: 0.7em;
        padding-left: 20px;
        font-weight: 500;
        display: none;
      }

      .password-toggle,
      .options-toggle {
        position: absolute;
        top: 14px;
        right: 15px;
        display: grid;
        transition: $transition;
        cursor: pointer;
      }

      .password-toggle {
        #visible,
        #hide {
          transform: scale(0);
          opacity: 0;
          transition: $transition;
        }

        &:not(.show) {
          #visible {
            transform: scale(1);
            opacity: 1;
          }
        }
        &.show {
          #hide {
            transform: scale(1);
            opacity: 1;
          }
        }
      }

      .options-toggle {
        top: 17px;
        right: 17px;
        pointer-events: none;
      }

      &.error {
        .form-control {
          background-color: $error;
          box-shadow: $shadow-error;
        }

        .invalid-feedback {
          display: block;
        }
      }

      &.show {
        .backdrop {
          position: fixed;
          content: "";
          top: 0;
          left: 0;
          height: 100vh;
          width: 100vw;
          background-color: transparent;
        }
        .options-wrapper {
          opacity: 1;
          pointer-events: all;
          transform: scale(1);
        }

        .options-toggle {
          transform: rotateZ(-180deg);
        }
      }
    }

    .btn.submit_btn {
      padding: 15px;
      background-color: $btn-secondary;
      color: #fff;
      font-weight: 600;
      font-family: Poppins;
      text-align: center;
      outline: none;
      border: none;
      transition: $transition;
      width: 100%;
      border-radius: 50px;
      margin: 2em auto 1em;
      cursor: pointer;

      &:hover {
        background-color: $hover;
      }

      &:active {
        transform: scale(0.8);
      }

      &.loading {
        animation: Loading 2s alternate infinite ease-in-out;
      }
    }

    @keyframes Loading {
      0% {
        opacity: 0.3;
      }
      25% {
        opacity: 0.5;
      }
      60% {
        opacity: 0.3;
      }
      80% {
        opacity: 0.7;
      }
      100% {
        opacity: 1;
      }
    }

    .register-link {
      font-size: 14px;
      margin-top: 1em;
      text-align: center;

      a {
        text-decoration: none;
        color: $btn-secondary;
        font-weight: 500;

        &:hover {
          color: rgb(69, 69, 150);
        }

        &:active {
          color: red;
        }
      }
    }

    .google {
      display: flex;
      align-items: center;
      gap: 1em;
      border: thin solid #369298;
      padding: 7px 10px;
      justify-content: center;
      margin-block: 10px;
      text-decoration: none;
      color: #1b3637;
      font-weight: 600;
      border-radius: 52px;
      background: #d8e2ee;
    }
  }

  .svg-container {
    position: relative;
    z-index: 20;
    max-width: 50vw;
    background-color: #fff;
    border-radius: 66% 77% 41% 97% / 81% 92% 58% 58%;
    padding: 50px;

    img {
      width: 400px;
      max-width: 90%;
      margin: auto;
    }
  }

  @media (max-width: 700px) {
    .wrapper-flex {
      border-radius: 30%;
      flex-wrap: wrap-reverse;
    }

    .svg-container {
      position: absolute;
      max-width: 100vw;
    }
  }
}
