<div class="incoming_plain_container">
    <div class="incoming_plain_wrapper">
        <div class="plain_message">
            <div class="image_wrap">
                <img src="/static/media/1.4b0d09c4.jpg" alt="">
            </div>
            <div class="text_wrap">
                <div class="incoming_message">
                    <div class="message">
                        Lorem ipsum dolor, sit amet con  
                    </div>
                    <div class="time">
                        3:15
                    </div> 
                </div>

            </div>
        </div>
    </div>
</div>