<div class="outgoing_container">  
    <div class="outgoing_wrapper">
        <form action="" class="form_incoming">
            <div class="outgoing_header">
                <h5 class="incoming_title">
                    Form Question
                </h5>
                <div class="add_coin_wrap">
                    <i class="ion-md-add"></i>
                    <input type="text" name="coin_added" id="coin_added" maxlength="3" placeholder="coins">
                </div>
            </div>
            <div class="question_wrap">
                <textarea name="question" id="questioin" class="question"
                placeholder="Enter the question.."></textarea>
            </div>
            <div class="options_wrap">
                <div class="option">
                    <input type="radio" name="option1" id="options">
                    <span class="option_span" contenteditable="true">Case</span>
                </div>
                <div class="option">
                    <input type="radio" name="option1" id="options">
                    <span class="option_span" contenteditable="true">Case</span>
                </div>
                <div class="option">
                    <input type="radio" name="option1" id="options">
                    <span class="option_span" contenteditable="true">Case</span>
                </div>
                <div class="option">
                    <input type="radio" name="option1" id="options">
                    <span class="option_span" contenteditable="true">Case</span>
                </div>
            </div>
            <button type="submit" class="send_form" ><i class="ion-md-send"></i></button>
        </form>
    </div>
</div>