<div class="incoming_container">  
    <div class="incoming_wrapper">
        <form action="" class="form_incoming">
            <div class="incoming_header">
                <h5 class="incoming_title">
                    Form Question
                </h5>
                <div class="added_coin_wrap">
                    
                </div>
            </div>
            <div class="question_wrap">
                <p class="question_sent">
                    this is the question asked 
                </p>
            </div>
            <div class="options_wrap">
                <div class="option">
                    <input type="radio" name="option1" id="options">
                    <span class="option_span">Case</span>
                </div>
                <div class="option">
                    <input type="radio" name="option1" id="options">
                    <span class="option_span">Case</span>
                </div>
                <div class="option">
                    <input type="radio" name="option1" id="options">
                    <span class="option_span">Case</span>
                </div>
                <div class="option">
                    <input type="radio" name="option1" id="options">
                    <span class="option_span">Case</span>
                </div>
                <div class="timer">
                    1s
                </div>
            </div>
            <button type="submit" class="send_form"><i class="ion-md-send"></i></button>
        </form>
    </div>
</div>