<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="/javascript/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zablot - Home page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/home.css" />
  </head>

  <body>
    <div class="main_container">
      <div class="main_wrapper">
        <div class="main-header">
          <div class="logo_container">
            <p class="logo">ZABLOT</p>
          </div>
          <div class="header-center">
            <div class="link">
              <a href="/about-us" class="about-us">About us</a>
            </div>
            <div class="link">
              <a href="/learn-more" class="about-us">Learn more</a>
            </div>
          </div>
          <div class="header-right">
            <div class="signup-link">
              <a href="/register" class="link signup-link">Sign up</a>
            </div>
            <div class="signin-link">
              <a href="/login" class="link signin-link">Login</a>
            </div>
          </div>
        </div>
        <div class="section-front">
          <div class="board-text-wrapper">
            <div class="big-text primary-text">
              Solving the intelligency very easily.
            </div>
            <div class="secondary-text">
              will solely based on making education virtual and helping in
              education.
            </div>
            <div class="btn-wrap">
              <a href="/dashboard" class="btn btn-explore">Explore</a>
            </div>
          </div>
          <div class="svg_container">
            <div class="svg-wrap">
              <img src="/images/atom.png" alt="" class="svg" />
            </div>
          </div>
        </div>
        <div class="section-objectives">
          <div class="card-group">
            <div class="card objective">
              <div class="card-wrapper">
                <div class="card-image">
                  <img
                    src="/images/collection_tools.png"
                    alt=""
                    class="image"
                  />
                </div>
                <div class="card-content">
                  <div class="card-text">Get you set for your exams</div>
                </div>
              </div>
              <div class="card-action">
                <button class="btn link"></button>
              </div>
            </div>
            <div class="card objective">
              <div class="card-wrapper">
                <div class="card-image">
                  <img src="/images/online-study.png" alt="" class="image" />
                </div>
                <div class="card-content">
                  <div class="card-text">
                    Help make test to your student anywhere in the world
                  </div>
                </div>
              </div>
              <div class="card-action">
                <button class="btn link"></button>
              </div>
            </div>
            <div class="card objective">
              <div class="card-wrapper">
                <div class="card-image">
                  <img src="/images/friends.png" alt="" class="image" />
                </div>
                <div class="card-content">
                  <div class="card-text">Meet new friends to learn with</div>
                </div>
              </div>
              <div class="card-action">
                <button class="btn link"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <script src="../javascript/bootstrap.bundle.min.js"></script> -->
  </body>
</html>
