   
    <% if(typeof message != 'undefined') { %>
    <div class="alert alert-warning alert-dismissible show fade p-1">
        <%= message %>
        normal
        <button type=submit class="close" data-dismiss='alert' aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
     </div> 
    <% } %>

    <% if(error != "") { %>
    <div class="alert alert-warning alert-dismissible show fade p-1">
        <%= error %>
        <button type=submit class="close" data-dismiss='alert' aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
     </div> 
     <% } %>
<!-- 
    <% if(data != "") { %>
     <% console.log(data) %>
    <div class="alert alert-warning alert-dismissible show fade p-1">
        <%= data %>
        <button type=submit class="close" data-dismiss='alert' aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
     </div> 
     <% } %> -->

    <% if(success != "") { %>
     <% console.log(success) %>
    <div class="alert alert-success alert-dismissible show fade p-1">
        <%= success %>
        <button type=submit class="close" data-dismiss='alert' aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
     </div> 
     <% } %>


