@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-family: "Poppins", "Segoe UI" !important;
}

:focus,
:active {
  border: 0;
  outline: none;
}

body {
  /* background: #f5f5f5; */
  color: #2d2d30 !important;
  margin: auto !important;
  position: relative;
  width: 100vw;
  overflow-x: hidden;
}

a {
  @apply no-underline text-inherit;
}
