<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap-custom.css">
    <link rel="stylesheet" href="../css/icons.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/main_custom.css">
    <title>Document</title>
</head>
<body>
    <div class="main_container">
        <div class="main_wrapper">
            <header class="header">
                <div class="logo_container">
                    <div>
                        <p class="logo">ZABLOT</p>
                    </div>
                    <button class="add_coin_wrapper btn">
                        <i></i>
                        <span class="main_add_coins">Add Coins</span>
                    </button>
                </div>
                <div class="header_wrapper">
                    <div class="nav_shortcut">
                        <ul class="ul_shortcut">
                            <li class="li_shortcut">Home</li> <span> > </span>
                            <li class="li_shortcut"><a href="#" class="dashboard">Dashboard</a></li> <span> > </span>
                            <li class="li_shortcut"><a href="#" class="profile">Settings</a></li> <span> > </span>
                            <li class="li_shortcut"><a href="settings/userAccount" class="profile">User Account</a></li> <span> > </span>
                        </ul>
                    </div>
                    <div class="navigator">
                        <div class="ul_list toast">
                            <div class="toggle_active_to_navigator">
                                MENU
                                <a href="#" class="toggle_active_"><i class="ion-ios-arrow-down show_hide"></i></a>
                            </div>
                            <ul class="ul_wrapper">
                                <li>
                                    <div class="user_profile">
                                        <div class="user_image">
                                            <a href="#">
                                                <img src="/static/media/1.4b0d09c4.jpg" class="userImage" alt="">
                                            </a>
                                        </div>
                                        <div class="user_name_wrapper">
                                            <p class="user_real_name">
                                                JAMES ODERINDE
                                                <span class="user_name">
                                                    @TJ_DIBBS
                                                </span>
                                            </p>
                                            
                                        </div>
                                        
                                    </div>
                                </li>
                                <li><a href="#">Profile</a></li>
                                <li>Chats</li>
                                <li>Room</li>
                                <li>Challenge</li>
                                <li>Active Users</li>
                                <li>Account Settings</li>
                                <li><a href="#">Log out</a></li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
                <div class="fast_access_container">
                    <ul>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                    </ul>
                </div>
            </header>           
            <div class="main_body">
                <div class="flex1">
                    <div class="ul_settings_wrapper">
                        <div class="settings_title">
                            <h5>Settings</h5>
                            <div class="toggle_wrap">
                                <a href="#" class="toggle_active_settings"><i class="ion-ios-arrow-forward "></i></a>
                            </div>
                        </div>
                        <ul class="settings_ul">
                            <li class="settings_li">
                                <a href="#" class="settings_link">User Account</a>
                                <span>Sets who can view your profile</span>
                            </li>
                            <li class="settings_li">
                                <a href="#" class="settings_link">Cookies</a>
                                <span>Make settings about your cookies</span>
                            </li>
                            <li class="settings_li">
                                <a href="#" class="settings_link">Privacy</a>
                                <span>How we control your privacy</span>
                            </li>
                            <li class="settings_li">
                                <a href="#" class="settings_link">Login center</a>
                                <span>Change login details..</span>
                            </li>
                            <li class="settings_li">
                                <a href="#" class="settings_link">Activity</a>
                                <span>Check login history...</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="flex2">
                    <div class="display_wrapper">
                        <div class="settings_container">
                            <div class="settings_Wrapper">
                                <section class="settings_section">
                                    <div class="wrap_me">
                                        <div class="">
                                            <h3>Settings</h3>
                                        </div>
                                        <div class="user_account_wrap">
                                            <div class="user_account_title">
                                                <h6>USER ACCOUNT SETTINGS</h6>
                                            </div>
                                            <form action="">
                                                <div class="form_part1">    
                                                    <div class="user_controls card ">
                                                        <div class="wrap_control">
                                                            <input type="checkbox" name="on_message">
                                                            <span class="label">
                                                                Allow users see your photo when you send message
                                                            </span>
                                                        </div>
                                                        <p class="info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia obcaecati atque excepturi sunt velit, culpa deserunt praesentium vero. Debitis odit temporibus vitae minus earum. Maiores, libero facilis? Porro, nihil cupiditate?</p>  
                                                      </div>
                                                      <div class="user_controls card ">
                                                        <div class="wrap_control">
                                                            <input type="checkbox" name="on_message">
                                                            <span class="label">
                                                                Allow users see your photo when you send message
                                                            </span>
                                                        </div>
                                                        <p class="info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia obcaecati atque excepturi sunt velit, culpa deserunt praesentium vero. Debitis odit temporibus vitae minus earum. Maiores, libero facilis? Porro, nihil cupiditate?</p>   
                                                      </div>
                                                      <div class="user_controls card ">
                                                        <div class="wrap_control">
                                                            <input type="checkbox" name="on_message">
                                                            <span class="label">
                                                                Allow users see your photo when you send message
                                                            </span>
                                                        </div>
                                                        <p class="info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia obcaecati atque excepturi sunt velit, culpa deserunt praesentium vero. Debitis odit temporibus vitae minus earum. Maiores, libero facilis? Porro, nihil cupiditate?</p>   
                                                      </div>
                                                      <div class="user_controls card ">
                                                        <div class="wrap_control">
                                                            <input type="checkbox" name="on_message">
                                                            <span class="label">
                                                                Allow users see your photo when you send message
                                                            </span>
                                                        </div>
                                                        <p class="info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia obcaecati atque excepturi sunt velit, culpa deserunt praesentium vero. Debitis odit temporibus vitae minus earum. Maiores, libero facilis? Porro, nihil cupiditate?</p>  
                                                      </div>
                                                      <div class="form_part2">
                                                        <div class="user_controls card ">
                                                            <div class="wrap_control">
                                                                <input type="checkbox" name="on_message">
                                                                <span class="label">
                                                                    Allow users see your photo when you send message
                                                                </span>
                                                            </div>
                                                            <p class="info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia obcaecati atque excepturi sunt velit, culpa deserunt praesentium vero. Debitis odit temporibus vitae minus earum. Maiores, libero facilis? Porro, nihil cupiditate?</p>  
                                                        </div>
                                                        <div class="user_controls card ">
                                                            <div class="wrap_control">
                                                                <input type="checkbox" name="on_message">
                                                                <span class="label">
                                                                    Allow users see your photo when you send message
                                                                </span>
                                                            </div>
                                                            <p class="info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia obcaecati atque excepturi sunt velit, culpa deserunt praesentium vero. Debitis odit temporibus vitae minus earum. Maiores, libero facilis? Porro, nihil cupiditate?</p>  
                                                        </div>
                                                        <div class="user_controls card ">
                                                            <div class="wrap_control">
                                                                <input type="checkbox" name="on_message">
                                                                <span class="label">
                                                                    Allow users see your photo when you send message
                                                                </span>
                                                            </div>
                                                            <p class="info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia obcaecati atque excepturi sunt velit, culpa deserunt praesentium vero. Debitis odit temporibus vitae minus earum. Maiores, libero facilis? Porro, nihil cupiditate?</p>  
                                                        </div>
                                                        <div class="user_controls card ">
                                                            <div class="wrap_control">
                                                                <input type="checkbox" name="on_message">
                                                                <span class="label">
                                                                    Allow users see your photo when you send message
                                                                </span>
                                                            </div>
                                                            <p class="info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia obcaecati atque excepturi sunt velit, culpa deserunt praesentium vero. Debitis odit temporibus vitae minus earum. Maiores, libero facilis? Porro, nihil cupiditate?</p>   
                                                          </div>
                                                      </div>
                                                      <button type="submit" class="btn settings_btn">Save Settings</button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="card_wrap">
                                            
                                        </div>
                                        <div class="card_wrap">
                                            
                                        </div>
                                        <div class="card_wrap">
                                            
                                        </div>
    
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
    <script src="../javascript/jquery.min.js"></script>
    <script src="../javascript/main.js"></script>
</body>
</html>