@import "./variable";

@mixin remove() {
	@media (max-width: 800px) {
		@content;
	}
}

@mixin expand() {
	@media (max-width: 800px) {
		@content;
	}
}

@mixin Media() {
	@media (min-width: 800px) {
		@content;
	}
}

@mixin media_1049 {
	@media (max-width: 1000px) {
		@content;
	}
}
@mixin media_649 {
	@media (max-width: 649px) {
		@content;
	}
}
@mixin media_549 {
	@media (max-width: 549px) {
		@content;
	}
}
@mixin media_399 {
	@media (max-width: 399px) {
		@content;
	}
}
@mixin media_499 {
	@media (max-width: 499px) {
		@content;
	}
}

@mixin media_800 {
	@media screen and (min-width: 800px) {
		@content;
	}
}
@mixin users() {
	.users {
		list-style: none;

		.user {
			display: flex;
			padding: 5px 10px;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 10px;
			border-bottom: thin solid map-get($map: $color, $key: "lowgrey");

			.image {
				height: 35px;
				width: 35px;
				border-radius: 50px;
			}

			.btn-wrapper {
				display: flex;
				justify-content: space-between;
				align-items: center;
				height: 100%;
			}
			.btn {
				height: 30px;
				border-radius: 5px;
				width: 80px;
				display: grid;
				place-items: center;
				text-transform: uppercase;
				font-size: map-get($fonts, "smaller");
				font-weight: 600;
				background: #fff;
				color: map-get($color, "skyblue");
			}
		}

		.user-profile {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.user-name {
				margin-left: 5px;
				font-weight: 600;
				line-height: 15px;
				color: map-get($map: $color, $key: "brown");
				font-size: map-get($fonts, "small");
				text-align: left;
				transition: $transition;

				@include media_399() {
					font-size: map-get($fonts, "smaller");
				}

				.username {
					color: map-get($color, "blue");
					font-size: map-get($fonts, "smaller");
				}
			}
		}
	}
}

@mixin Box($classname) {
	.#{$classname}-box {
		width: 600px;
		max-width: 100vw;
		height: calc(100vh - 150px);
		overflow: auto;
		position: fixed;
		top: 81px;
		right: 10px;
		height: calc(100vh - 100px);
		opacity: 0;
		box-shadow: $shadow;
		transition: $transition;
		border-radius: 10px;
		background: map-get($color, "lightergrey");

		@include media_649() {
			height: calc(100vh - 81px);
			width: 100vw;
			top: 81px;
			border-radius: 0;
			box-shadow: none;
		}

		@include media_399 {
			top: 0;
			height: 100vh;
		}

		.#{$classname}-header {
			display: flex;
			flex-wrap: wrap;
			position: sticky;
			top: 0;
			background: inherit;
			box-shadow: 0 0 5px map-get($map: $color, $key: "grey");
			justify-content: space-between;
			padding: 10px 20px;

			.title {
				font-weight: 500;
				font-size: map-get($fonts, "small");
				color: map-get($map: $color, $key: "brown");
			}

			.close-modal {
				padding: 5px 15px;
				border-radius: 5px;
				box-shadow: $shadow;
				background: map-get($color, "white");
				font-size: map-get($fonts, "smaller");
				font-weight: 600;
				cursor: pointer;
			}
		}
	}
}

@mixin toggle($className: "toggle") {
	.#{$className} {
		position: absolute;
		content: "";
		height: 60px;
		width: 20px;
		top: 10px;
		z-index: 100;
		backdrop-filter: blur(10px);
		transition: $transition;
		background: map-get($map: $color, $key: "lowgrey");

		&::before,
		&::after {
			position: absolute;
			top: 50%;
			width: 2px;
			height: 50%;
			transform: translateY(-50%);
			content: "";
			background: map-get($map: $color, $key: "brown");
		}
	}
}

@keyframes shadow {
	50% {
		box-shadow: 0px 0px 2px 2px #dc121261;
	}

	100% {
		box-shadow: 0px 0px 4px 4px #dc121261;
	}
}
