@import "./_variable";
@import "./mixins";

$white: #fdfcfc;
$small: 1em;
$smaller: 0.8em;
$medium: 2em;
$large: 2.5em;
$xlarge: 3em;
$borderColor: #d7cdcd;

.chats-container {
  background: #ebebeb;
  padding-bottom: 10px;
  height: calc(100vh - 75px);
  margin-top: 5px;
  width: 320px;
  max-width: 100vw;
  transition: $transition;
  // border-radius: 10px;
  overflow: hidden scroll;

  &::-webkit-scrollbar {
    width: 0px;
  }

  &.mobile {
    position: fixed;
    top: 0px;
    border-radius: 0;
    box-shadow: none;
    left: 0;
    width: 100vw;
    max-height: 100vh;
    height: 100vh;
    z-index: 100;
    padding-bottom: 60px;
  }

  .loader {
    height: 100%;
    width: 320px;
    display: grid;
    place-items: center;
  }

  .no-friend-available {
    text-align: center;
    margin-top: 40%;
    font-size: map-get($map: $fonts, $key: "smaller");
  }

  .chats-header {
    background: #ebebeb;
    position: sticky;
    top: 0;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: thin solid #c8c8c8;

    .title {
      font-size: map-get($fonts, "small");
      font-weight: 500;
      text-align: center;
    }

    @include media_649 {
      border: none;
      box-shadow: $shadow;

      .title {
        text-align: left;
      }
    }
  }

  .chats_listItem {
    display: flex;
    flex-wrap: nowrap;
    padding: 7px 10px;
    align-items: center;
    position: relative;
    justify-content: flex-start;
    gap: 0.5em;
    position: relative;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: $shadow;
    margin-bottom: 10px;

    .text {
      width: calc(100% - 2.5em);
      line-height: 1.2em;
      white-space: nowrap;
      overflow: hidden;

      .wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .primary_text {
        font-size: $small;
        overflow: hidden;
        text-transform: capitalize;
        text-overflow: ellipsis;
        font-weight: 600;
      }
      .secondary_text {
        font-size: 0.75em;
        overflow: hidden;
        font-weight: 400;
        text-overflow: ellipsis;
      }
    }

    .unseenmessages.badge {
      height: 18px;
      width: 18px;
      display: grid;
      position: absolute;
      place-content: center;
      right: 5px;
      border-radius: 50%;
      font-weight: 600;
      font-size: 0.6em;
      bottom: 6px;
    }
  }
}
