@import "./_variable.scss";
@import "./mixins";

@mixin scrollbar {
	&::-webkit-scrollbar {
		appearance: none;
		height: 100%;
		width: 3px;
		background: map-get($map: $color, $key: "lightergrey");
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 50px;
		background: map-get($map: $color, $key: "grey");
	}
}

.main {
	.question-toggler {
		border-radius: 50%;
		position: absolute;
		bottom: 16px;
		right: 16px;
		background: map-get($map: $color, $key: "grey");
		color: white;
		transition: $transition;
		@include media_399 {
			width: 40px;
			height: 40px;
		}
		&:hover {
			background: darken(
				$color: map-get($map: $color, $key: "grey"),
				$amount: 10
			);
		}
	}
}
.form-container {
	width: 100%;
	height: 100%;
	overflow: auto;
	padding-block: 1em;
	color: map-get($map: $color, $key: "brown");
	@include scrollbar();

	.wrapper {
		width: 600px;
		max-width: 85vw;
		margin: auto;
		height: auto;

		@include media_399 {
			max-width: 95vw;
		}

		.header {
			font-weight: 600;
			padding: 1em;
		}
	}

	.text {
		font-weight: 300;
		font-size: map-get($map: $fonts, $key: "small");
		margin-bottom: 10px;
	}

	.question-form {
		padding: 1em;
	}

	.question-box {
		width: 600px;
		max-width: 100%;
		background: map-get($map: $color, $key: "lowgrey");
		padding: 10px;
		box-shadow: $shadow;
		resize: none;
		min-height: 100px;
		border-radius: 5px;
	}

	.option-list-container {
		list-style: none;
	}

	.options-wrap {
		width: 600px;
		max-width: 100%;
		.header {
			display: flex;
			padding: 0.3em 5px;
			align-items: center;
			border-radius: 3px;
			width: 100%;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 1em;
			background: map-get($map: $color, $key: "lightergrey");
			.add {
				background: map-get($map: $color, $key: "lowgrey");
				border-radius: 5px;
			}
		}

		.option:not(:last-child) {
			margin-bottom: 1em;
		}
		.text-box {
			background: map-get($map: $color, $key: "lowgrey");
			height: 40px;
			width: 600px;
			max-width: 100%;
			box-shadow: $shadow;
			border-radius: 5px;
			overflow: hidden;
			display: flex;
			position: relative;
			justify-content: flex-start;

			.answer.checkbox {
				appearance: none;
				height: 100%;
				position: relative;
				width: 40px;

				&::before {
					position: absolute;
					content: "A";
					height: 100%;
					width: 100%;
					font-size: map-get($map: $fonts, $key: "medium");
					display: grid;
					font-weight: 800;
					place-items: center;
					justify-items: center;
					color: map-get($map: $color, $key: "brown");
					background: #fff;
				}

				&:checked {
					&::before {
						background: map-get($map: $color, $key: "grey");
						color: #fff;
					}
				}
			}

			.text-control {
				flex-grow: 1;
				background: transparent;
				height: 100%;
				padding: 10px 5px;
				resize: none;
			}

			.remove-btn:hover {
				background: transparent;
			}
		}
	}
}

.created-questions-container {
	position: absolute;
	right: -110%;
	opacity: 0.9;
	z-index: 10;
	width: 600px;
	max-width: 100vw;
	box-shadow: $shadow;
	height: 100%;
	transition: right 0.5s cubic-bezier(0, 0.71, 0, 1.15);
	color: map-get($map: $color, $key: "brown");
	background: map-get($map: $color, $key: "lightergrey");

	&.open {
		right: 0;
		opacity: 1;
	}
}

.created-questions {
	height: inherit;

	.wrap {
		height: inherit;
		overflow: auto;
		position: relative;
		padding-block-end: 1em;

		@include scrollbar();
	}

	.no-question-created {
		padding: 5em;
		text-align: center;
	}

	.header {
		display: flex;
		justify-content: space-between;
		position: sticky;
		top: 0;
		margin-bottom: 10px;
		padding: 1em;
		z-index: 100;
		background: map-get($map: $color, $key: "lowgrey");
		backdrop-filter: blur(3px);
		.title {
			font-weight: 600;
		}
		.close-btn {
			padding: 5px 10px;
			border-radius: 5px;
			color: #fff;
			font-size: 10px;
			background: map-get($map: $color, $key: "grey");
		}
	}
	.question-list {
		list-style: none;
		padding: 1em;

		.question-wrapper {
			padding: 10px;
			box-shadow: $shadow;
			background: white;
			position: relative;
			border-radius: 10px;
			overflow: hidden;
			margin-bottom: 10px;
		}

		.question-index .index-text {
			font-weight: 600;
			font-size: map-get($map: $fonts, $key: "medium");
			text-align: center;
			background: map-get($map: $color, $key: "lowgrey");
			padding: 10px;
			border-radius: 10px;
		}

		.label-text {
			font-size: map-get($map: $fonts, $key: "small");
			font-weight: 300;
			margin-block: 5px;
			padding-block: 10px;
		}

		.question-option {
			position: relative;
			.answer-tooltip {
				position: absolute;
				right: 16px;
				top: 50%;
				transform: translateY(-50%);
			}

			.answer-check {
				fill: map-get($map: $color, $key: "green");
			}
		}
		.question-option:not(:last-child) {
			// border-bottom: thin solid grey;
			margin-bottom: 5px;
		}

		.text {
			font-size: map-get($map: $fonts, $key: "smaller");
			padding: 10px;
			font-weight: 300;
			border-radius: 10px;
			background: map-get($map: $color, $key: "lightgrey");
		}

		.fab-wrapper {
			position: absolute;
			top: 16px;
			right: 16px;
			width: fit-content;
			background: map-get($map: $color, $key: "lowgrey");
			display: flex;
			gap: 10px;
			padding: 10px;
			border-radius: 10px;

			.fab {
				border-radius: 50%;
				background: map-get($map: $color, $key: "grey");

				.fab-icon {
					fill: #fff;
				}

				&:hover {
					background: #fff;
					.fab-icon {
						fill: map-get($map: $color, $key: "brown");
					}
				}
			}
		}
	}
}

.button-wrap {
	width: 600px;
	max-width: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: nowrap;
	gap: 1%;

	.btn {
		width: 150px;
		max-width: 49%;
		padding: 5px 10px;
		text-align: center;
		font-weight: 300;
		box-shadow: $shadow;
		border-radius: 5px;
		text-transform: capitalize;
		color: #fff;
		background: map-get($map: $color, $key: "grey");

		&:hover {
			background: darken(
				$color: map-get($map: $color, $key: "grey"),
				$amount: 10
			);
		}
	}
}

.edit-wrap {
	position: absolute;
	right: 610px;
	width: 500px;
	box-shadow: $shadow;
	padding: 0;
	max-width: 100vw;
	z-index: 100;
	background: map-get($map: $color, $key: "lightergrey");

	@include scrollbar();
	.header {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		position: sticky;
		top: 0;
		margin-bottom: 10px;
		padding: 1em;
		z-index: 100;
		background: map-get($map: $color, $key: "lowgrey");
		backdrop-filter: blur(3px);
		.title {
			font-weight: 600;
		}
		.close-btn {
			padding: 5px 10px;
			border-radius: 5px;
			color: #fff;
			font-size: 10px;
			background: map-get($map: $color, $key: "grey");
		}
	}

	.options-wrap {
		.header {
			padding: 0.3em 5px;
			background: #fff;
			z-index: initial;
		}
	}

	.question-box {
		background: #fff;
		max-width: 100%;
	}

	.options-wrap {
		.text-box {
			background: map-get($map: $color, $key: "white");

			.answer.checkbox {
				&::before {
					color: map-get($map: $color, $key: "brown");
					background: map-get($map: $color, $key: "lightergrey");
				}

				&:checked {
					&::before {
						background: map-get($map: $color, $key: "grey");
						color: #fff;
					}
				}
			}

			.remove-btn:hover {
				background: transparent;
			}
		}
	}
}

.upload-question {
	.backdrop {
		position: fixed;
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
		z-index: 20;
		background: rgba(0, 0, 0, 70%);
		display: flex;
		align-items: center;
	}

	.wrapper {
		background: map-get($map: $color, $key: "lightergrey");
		width: 800px;
		max-width: 80%;
		height: 90%;
		padding: 1em;
		border-radius: 10px;
		box-shadow: $shadow;
		margin: auto;
	}

	.form-wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 0.2em;
	}

	.button-wrap {
		justify-content: space-between;
		margin: 1em auto;
	}

	.additional-fields {
		grid-column: 1/3;

		.title {
			margin-block: 1em;
		}
		.time-wrapper {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 0.5em;
		}
	}

	.details-wrapper {
		display: flex;
		flex-wrap: nowrap;
		gap: 10px;
		flex-direction: row-reverse;
	}

	.main-content {
		display: flex;
		flex-direction: column;
		max-width: 500px;
		margin: auto;
		align-items: center;
		padding: 30px;
		overflow: hidden;
		background: white;

		.title {
			font-weight: 300;
			color: map-get($map: $color, $key: "grey");
		}
		.header .title {
			margin-block: 10px;
		}

		.card {
			background: #fff;
			padding: 10px;
			border-radius: 5px;
			box-shadow: $shadow;
			min-width: 100%;

			&:not(:last-child) {
				margin-bottom: 10px;
			}

			.text {
				font-size: map-get($map: $fonts, $key: "smaller");
			}
		}
	}

	.pdf-format {
		transform: scale(0.5) translate(-50%, -50%);
		border-radius: 10px;
		position: absolute;
		left: 50%;
		top: 50%;
	}
}

.loader {
	height: 100%;
	display: grid;
	place-items: center;
	.loader-wrapper {
		width: 100%;
		gap: 20px;
		display: grid;
		place-items: center;
	}
}
