@import "./_variable.scss";
@import "./mixins";

@mixin scrollbar {
  &::-webkit-scrollbar {
    appearance: none;
    height: 100%;
    width: 0px;
    background: map-get($map: $color, $key: "lightergrey");
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: map-get($map: $color, $key: "grey");
  }
}

.create-quiz-wrapper {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  overflow: hidden;
  justify-content: space-between;
  height: 100%;
  width: 100%;

  @include media_1049 {
    width: calc(100vw - 50px);
  }

  @include media_549 {
    width: 100vw;
  }

  .question-toggler {
    border-radius: 50%;
    position: absolute;
    bottom: 16px;
    right: 16px;
    background: map-get($map: $color, $key: "green");
    color: white;
    transition: $transition;
    display: none;

    &:hover {
      background: darken(
        $color: map-get($map: $color, $key: "grey"),
        $amount: 10
      );
    }

    @include media_830 {
      display: block;
    }
  }

  .answer {
    appearance: none;
    height: 100%;
    position: relative;
    width: 40px;

    &::before {
      position: absolute;
      content: "A";
      height: 100%;
      width: 100%;
      font-size: map-get($map: $fonts, $key: "medium");
      display: grid;
      font-weight: 800;
      place-items: center;
      justify-items: center;
      color: map-get($map: $color, $key: "brown");
      background: map-get($map: $color, $key: "lowgrey");
    }

    &:checked {
      &::before {
        background: map-get($map: $color, $key: "green");
        color: #fff;
      }
    }
  }
}

.form-container {
  width: 500px;
  max-width: 100%;
  margin: auto;
  height: 100%;
  overflow: auto;
  padding-block: 1em;
  color: map-get($map: $color, $key: "brown");
  @include scrollbar();

  .create-wrapper {
    height: auto;
  }

  .option {
    height: 50px !important;
    border-radius: 10px !important;
    overflow: hidden;
  }

  .text-box {
    height: 100%;

    .text-control {
      padding-block: 14px !important;
      &::-webkit-scrollbar {
        appearance: none;
        width: 0px;
      }

      &.empty {
        box-shadow: 0px 0px 3px rgb(255, 0, 0);
      }
    }
  }
}

.created-questions-container {
  width: 350px;
  min-width: 350px;
  position: relative;
  margin-top: 5px;
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  color: map-get($map: $color, $key: "brown");
  background: map-get($map: $color, $key: "lightergrey");
  transition: all 0.5s ease-in-out;
}

.created-questions {
  height: inherit;

  .wrap {
    height: inherit;
    overflow: auto;

    @include scrollbar();
  }

  .header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    z-index: 100;
    backdrop-filter: blur(3px);
    background: map-get($map: $color, $key: "lightergrey");

    .title {
      font-weight: 500;
    }

    .close-btn {
      padding: 5px 10px;
      border-radius: 25px;
      color: #fff;
      font-size: 10px;
      background: map-get($map: $color, $key: "coral");
      display: none;

      @include media_830 {
        display: initial;
      }
    }
  }
  .question-list {
    list-style: none;
    padding: 1em;

    .question-wrapper {
      padding: 10px;
      width: 100%;
      box-shadow: $shadow;
      background: map-get($map: $color, $key: "lowgrey");
      position: relative;
      border-radius: 10px;
      overflow: hidden;
      margin-bottom: 10px;
    }

    .label-text {
      font-size: map-get($map: $fonts, $key: "smaller");
      font-weight: 500;
      margin-block: 5px;
      padding-block: 5px;
    }

    #question {
      &::-webkit-scrollbar {
        appearance: none;
      }
    }
    .answer {
      appearance: none;
      height: 100%;
      position: relative;
      width: 30px;

      &::before {
        position: absolute;
        content: "A";
        height: 100%;
        width: 100%;
        font-size: map-get($map: $fonts, $key: "medium");
        display: grid;
        font-weight: 600;
        place-items: center;
        justify-items: center;
        color: map-get($map: $color, $key: "brown");
        background: map-get($map: $color, $key: "lowgrey");
      }

      &:checked {
        &::before {
          background: map-get($map: $color, $key: "green");
          color: #fff;
        }
      }
    }
    .question-option {
      position: relative;

      .answer-tooltip {
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
      }

      .answer-check {
        fill: map-get($map: $color, $key: "green");
      }
    }

    .fab-wrapper {
      position: absolute;
      top: 9px;
      right: 10px;
      width: fit-content;
      display: flex;
      gap: 10px;
      border-radius: 10px;

      .fab {
        border-radius: 50%;
        z-index: initial;
        background: map-get($map: $color, $key: "green");

        .fab-icon {
          fill: #fff;
        }

        &:hover {
          background: #fff;
          .fab-icon {
            fill: map-get($map: $color, $key: "brown");
          }
        }
      }
    }
  }

  .button-wrap {
    padding: 10px;
    .btn {
      z-index: initial;
      background-color: map-get($map: $color, $key: "coral") !important;
    }
  }
}

// Upload question sections stylesheet
.upload-question {
  @include scrollbar();
  .additional-fields {
    grid-column: 1/3;

    .title {
      margin-block: 1em;
    }
  }

  .details-wrapper {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    flex-direction: row-reverse;
  }

  .pdf-format {
    transform: scale(0.5) translate(-50%, -50%);
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
  }
}

.loader {
  height: 100%;
  display: grid;
  place-items: center;
  .loader-wrapper {
    width: 100%;
    gap: 20px;
    display: grid;
    place-items: center;
  }
}
