@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  vertical-align: middle;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  appearance: button;
  background-color: transparent;
  background-image: none;
  cursor: pointer;
}

a,
area,
button,
[role="button"],
input:not([type="range"]),
label,
select,
summary,
textarea {
  touch-action: manipulation;
}
