@import "./mixins";
@import "./variable";

.open {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: white !important;
  box-shadow: 0px 0px 10px -5px map-get($color, "brown");
  padding: 0;
  transition: all 100ms ease-in-out;

  &.active {
    background-color: #7baeb2 !important;
    color: #fff;
  }

  &:hover {
    background-color: map-get($map: $color, $key: "lowgrey");
  }
}

.wrapper {
  header {
    background-color: #ebebeb !important;
    grid-column: 1/6;
    padding: 5px 10px;
    -webkit-user-select: none;
    user-select: none;
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    color: black;
    box-shadow: none;

    .toolbar {
      display: flex;
      gap: 15px;
      align-items: center;
      padding: 10px;
    }

    @include media_499 {
      padding-inline: 0;

      .toolbar {
        padding-left: 0;
      }
    }

    .flex-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .logo {
      font-weight: 600;
      font-family: calibri, Tahoma;
      font-size: 1.3em;

      &.display-small {
        display: none;
        // font-size: map-get($map: $fonts, $key: "medium");
        padding-inline: 16px;
      }

      @include media_499 {
        &.display-large {
          display: none;
        }
        &.display-small {
          display: block;
        }
      }
    }
    .coin-wrapper {
      font-weight: 500;
      height: 35px;
      border-radius: 50px;
      font-weight: 600;
      box-shadow: 0px 0px 10px -5px map-get($color, "brown");
      background: map-get($map: $color, $key: "white");

      @include media_499 {
        height: 30px;
      }
    }

    .top-navigation {
      position: relative;
      transition: $transition;

      .chatboard-badge {
        display: none;

        @include media_830 {
          display: block;
        }
      }

      .MuiBadge-badge {
        background: map-get($map: $color, $key: "grey");
        color: white;
      }
    }
  }
}

.search-container {
  position: relative;
  transition: $transition;

  &.focused {
    z-index: 10000;
  }

  .search-form {
    position: relative;
    border: none;
    background: white;
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
    overflow: -moz-hidden-unscrollable;
    border-radius: 50px;
    box-shadow: $shadow;
    transition: $transition;

    @include media_649 {
      width: 100%;
    }
  }

  .search-icon {
    height: 100%;
    width: 35px;
    display: grid;
    place-items: center;

    @include media_830 {
      padding: 0;
    }

    &.ready {
      background: map-get($map: $color, $key: "grey");
      svg {
        fill: white;
      }
    }
  }

  .form-control {
    height: 100%;
    flex-grow: 1;
    padding-block: 5px;

    // @include media_399() {
    //   width: 150px;
    // }

    .text-control {
      height: inherit;
      width: 100%;
      padding: 5px;
    }
  }

  &.focused .form-control {
    display: block;
  }

  &.focused .search-text-box {
    position: fixed;
    top: 10px;
    left: calc((400px - 300px) / 2);
    z-index: 100;

    @include media_649 {
      // margin-inline: 10px;
      left: calc((100vw - 300px) / 2);
    }

    @include media_399 {
      left: 50%;
      transform: translateX(-50%);
    }
    .search-form {
      width: 300px;
      height: 35px;
    }
    .search-icon {
      width: initial;
      padding: 9px;
    }
  }

  .search-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    height: 100vh;
    background: #0000009e;
    width: 100vw;
    z-index: 10000000;
  }

  .search-results {
    height: 90%;
    width: 600px;
    margin: auto;
    background: map-get($map: $color, $key: "lightergrey");
    overflow: auto;
    transition: $transition;
    box-shadow: $shadow;
    border-radius: 20px;

    @include media_649() {
      width: 100vw;
      max-width: 100vw;
    }

    &::-webkit-scrollbar {
      appearance: none;
      width: 5px;
      background: transparent;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 50px;
      background: map-get($map: $color, $key: "brown");
    }

    .search-matched-wrapper {
      overflow: hidden scroll;
      position: relative;
      height: 100%;

      @include media_649() {
        height: calc(100vh);
      }

      &::-webkit-scrollbar {
        display: none;
        width: 0px;
      }

      .header {
        font-weight: 600;
        position: sticky;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: -webkit-sticky;
        backdrop-filter: blur(5px);
        padding: 10px;
        background: map-get($map: $color, $key: "lowgrey");
        top: 0;
        font-size: map-get($map: $fonts, $key: "small");

        .close-btn {
          padding: 5px 15px;
          cursor: pointer;
          text-align: center;
          border-radius: 50px;
          box-shadow: $shadow;
          background: map-get($color, "white");
          font-size: map-get($fonts, "smaller");
          font-weight: 500;

          @include media_649 {
            display: none;
          }
        }
      }
    }

    .list-wrapper {
      padding: 10px;
      .title {
        font-size: map-get($map: $fonts, $key: "smaller");
        font-weight: 500;
      }

      .search-message {
        margin-top: 25%;
        text-align: center;
      }

      .search-loader {
        display: grid;
        place-items: center;
        margin-top: 25%;
      }
    }
    @include users();
    .users {
      height: 100%;
      width: 100%;
      .user {
        .btn {
          font-size: 10px;
        }
      }
    }
  }
}

.friend-requests-wrapper {
  @include Box("requests");
  @include users();

  .users {
    .user {
      .btn:first-child {
        margin-right: 10px;
      }
      .reject {
        background: map-get($color, "red");
        color: map-get($color, "brown");
      }
    }
  }

  .no_request {
    min-height: 100px;
    display: grid;
    place-items: center;

    h4 {
      font-weight: 500;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    }
  }
  .request-box.expand .users {
    visibility: visible;
  }

  .friends .title {
    padding: 3px 15px;
    font-weight: 600;
    font-size: map-get($fonts, "smaller");
    background: map-get($color, "white");
    margin: 5px 0px;
  }
}

.profile-link-wrapper {
  transition: $transition;

  .profile-expand {
    width: 250px;
    height: auto;
    position: absolute;
    top: 75px;
    padding: 10px;
    right: 0;
    opacity: 1;
    border-radius: 5px;
    transition: $transition;
    z-index: 100;
    background-color: map-get($map: $color, $key: "lowgrey");
    box-shadow: 0px 0px 5px 1px #00000017;
    min-height: 400px;
  }
}

.notifications-wrapper {
  font-family: Nunito !important;
  @include Box("notifications");

  .date {
    padding: 3px 10px;
    background: map-get($color, "white");
    color: map-get($color, "skyblue");
    font-size: map-get($fonts, "smaller");
    font-weight: 400;
  }

  .notification-image {
    margin-right: 10px;
    min-width: 35px;

    .image img {
      width: 35px;
      height: 35px;
      border-radius: 50%;
    }
  }

  .notifications-list {
    list-style: none;

    .notification {
      padding: 5px 15px;
      position: relative;
      margin-bottom: 10px;
      display: flex;

      &::after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 50px;
        right: 10px;
        height: 1px;
        background: map-get($color, $key: "lowgrey");
      }
    }

    .text {
      font-weight: 400;
      font-size: 0.7em;

      b {
        color: map-get($color, "green");
        text-transform: capitalize;
      }
    }

    .assigned-name {
      font-weight: 400;
      font-size: map-get($fonts, "small");
      color: map-get($color, "brown");
    }
  }
}
