@import "./mixins";
@import "./variable";

.sidebar {
  // background: map-get($map: $color, $key: "lightergrey");
  height: inherit;
  width: 250px;
  min-width: 230px;
  position: relative;
  transition: all 0.2s ease-out;
  max-height: 100vh;
  // overflow: hidden;
  padding: 0px 0px 20px;

  &::-webkit-scrollbar {
    width: 0px;
  }

  .preview-profile {
    padding-block: 15px 13px;
    transition: $transition;
    white-space: nowrap;
    position: sticky;
    top: 0;
    background: #ececec;
    z-index: 10;
    padding-inline: 15px;

    .user-image-name-wrapper {
      display: flex;
      align-items: center;
      gap: 10px;
      flex-wrap: nowrap;

      .user-image {
        display: grid;
        background-color: #fff;
        padding: 5px;
        border-radius: 10px;
        box-shadow: $shadow;

        .image {
          border-radius: 10px;
        }
      }

      .name {
        font-size: map-get($map: $fonts, $key: "small");
        font-weight: 500;
      }

      .username {
        font-size: 0.8em;
        font-weight: 400;
        color: map-get($color, "green");
      }
    }
  }

  .message {
    margin-block: 10px;
    font-size: map-get($fonts, "smaller");
    white-space: normal;
  }

  .navigators {
    transition: $transition;
    background: #ebebeb;
    padding: 10px;
    margin-top: 5px;
    transition: all 0.2s ease-out;
    height: calc(100vh - 78px);
    overflow: auto;

    &.visible {
      overflow: visible;
    }

    &::-webkit-scrollbar {
      width: 0;
      appearance: none;
    }

    .group-1 {
      border-bottom: thin solid #c8c8c8;
      padding-bottom: 1em;
      margin-bottom: 1em;
    }

    .links-list {
      list-style: none;
      li {
        margin-bottom: 16px;
      }
      a {
        height: 40px;
        transition: $transition;
        position: relative;
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: flex-start;
        gap: 30px;
        width: 100%;
        border-radius: 10px;
        flex-wrap: nowrap;
        text-decoration: none;
        color: inherit;

        .svg {
          width: 24px;
          position: relative;
          z-index: 10;
          height: inherit;
          fill: #56565c;
        }

        .link-title {
          font-size: 0.9em;
          position: relative;
          z-index: 10;
          font-weight: 500;
          color: #56565c;
        }

        &::before {
          content: "";
          width: 130%;
          height: 100%;
          position: absolute;
          transition: all 200ms ease-in-out;
          left: 50%;
          transform: translateX(-50%);
        }

        &:hover,
        &.active {
          &::before {
            background: white;
          }
          .link-title {
            color: map-get($map: $color, $key: "green");
          }
          .svg {
            fill: map-get($map: $color, $key: "green");
          }
        }
      }
    }
  }

  &.tablet {
    width: 60px;
    &:not(.show) {
      min-width: 60px;

      .navigators {
        height: 100vh;
        padding: 0;
        margin: 0;

        a {
          justify-content: center;
          z-index: 100;
          background-color: whitesmoke;
          width: 40px;

          margin: auto;
          box-shadow: $shadow;
          position: relative;
          z-index: 99999;

          .link {
            display: none;
          }

          &:hover {
            width: 100%;
            background-color: white;
            border-radius: 0;
            box-shadow: 0px 0px 0px grey;
          }
        }
      }
    }

    .message,
    .preview-profile {
      display: none;
    }

    &.show {
      width: 300px;
      z-index: 100;

      .message,
      .preview-profile {
        display: block;
      }

      a {
        width: 100%;
        .link {
          display: block;
        }
      }

      .preview-profile {
        display: block;
      }
    }
  }

  &.mobile {
    width: 100vw;
    position: fixed;
    height: 100vh;
    left: -100vw;
    padding: 0;
    top: 0;
    z-index: 9999999999999999;
    background-color: lightgrey;
    &.show {
      left: 0;
      .open {
        display: block;
      }
    }

    &.show {
      left: 0px;
    }
  }
}
