@import "./mixins";
@import "./variable";

@mixin M {
  .link-title {
    color: map-get($map: $color, $key: "green");
  }
  .svg {
    fill: map-get($map: $color, $key: "green");
  }
}

.sidebar {
  // background: map-get($map: $color, $key: "lightergrey");
  height: inherit;
  width: 250px;
  min-width: 270px;
  position: relative;
  transition: all 0.2s ease-out;
  max-height: 100vh;
  // overflow: hidden;
  padding: 0px 0px 20px;

  &::-webkit-scrollbar {
    width: 0px;
  }

  .preview-profile {
    padding-block: 15px;
    transition: $transition;
    white-space: nowrap;
    position: sticky;
    top: 0;
    background: #ececec;
    z-index: 10;
    padding-inline: 15px;
    max-height: 70px;
    overflow: hidden;

    .user-image-name-wrapper {
      display: flex;
      align-items: center;
      gap: 10px;
      flex-wrap: nowrap;

      .user-image {
        display: grid;
        background-color: #fff;
        padding: 5px;
        border-radius: 10px;
        box-shadow: $shadow;

        .image {
          border-radius: 10px;
        }
      }

      .name {
        font-size: map-get($map: $fonts, $key: "small");
        font-weight: 500;
      }

      .username {
        font-size: 0.8em;
        font-weight: 400;
        color: map-get($color, "green");
      }
    }
  }

  .message {
    margin-block: 10px;
    font-size: map-get($fonts, "smaller");
    white-space: normal;
    max-height: 30px;
    overflow: hidden;
  }

  .navigators {
    transition: $transition;
    background: #ebebeb;
    padding: 10px;
    margin-top: 5px;
    transition: all 0.2s ease-out;
    height: calc(100vh - 75px);
    overflow: auto;

    &::-webkit-scrollbar {
      width: 0;
      appearance: none;
    }

    .group-1 {
      border-bottom: thin solid #c8c8c8;
      padding-bottom: 1em;
      margin-bottom: 1em;
    }

    .links-list {
      list-style: none;
      li {
        margin-bottom: 16px;
        transition: $transition;
      }
      a {
        height: 40px;
        transition: $transition;
        position: relative;
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: flex-start;
        gap: 30px;
        width: 100%;
        border-radius: 10px;
        flex-wrap: nowrap;
        text-decoration: none;
        color: inherit;

        .svg {
          width: 24px;
          position: relative;
          z-index: 10;
          height: inherit;
          fill: #56565c;
        }

        .link {
          transition: $transition;
          font-size: 0.9em;
          position: relative;
          z-index: 10;
          font-weight: 500;
          color: #56565c;
          white-space: nowrap;
        }

        &:not(.tablet)::before {
          content: "";
          width: 130%;
          height: 100%;
          position: absolute;
          transition: all 200ms ease-in-out;
          left: 50%;
          transform: translateX(-50%);
        }

        &:not(.tablet):hover,
        &.active {
          &::before {
            background: white;
          }
          @include M();
        }
      }
    }
  }

  &.tablet {
    width: 60px;
    &:not(.show) {
      min-width: 60px;

      .navigators {
        height: 100vh;
        padding: 0;
        margin: 0;

        li {
          max-width: 60px;
          margin-bottom: 25px;
        }

        a {
          justify-content: center;
          background-color: whitesmoke;
          width: 40px;
          max-width: 60px;
          margin: auto;
          box-shadow: $shadow;
          position: relative;

          &.active {
            background: white;
          }

          .link {
            width: 0px;
            overflow: hidden;
          }

          &:hover {
            width: 100%;
            background-color: white;
            border-radius: 0;
            box-shadow: 0px 0px 0px grey;

            @include M();
          }
        }
      }
    }

    // .message,
    // .preview-profile {
    //   height: 0px;
    //   width: 0px;
    //   opacity: 0;
    //   transition: $transition;
    //   padding: 0;
    //   margin: 0;
    //   transform: scale(0);
    // }

    &.show {
      width: 300px;
      z-index: 100;

      a {
        &::before {
          content: "";
          width: 130%;
          height: 100%;
          position: absolute;
          transition: all 200ms ease-in-out;
          left: 50%;
          transform: translateX(-50%);
        }

        &:hover,
        &.active {
          &::before {
            background: white;
          }
          @include M();
        }
      }

      .message,
      .preview-profile {
        height: 100%;
        width: 100%;
        opacity: 1;
        transform: scale(1);
      }

      .preview-profile {
        padding: 15px;
      }
      .message {
        margin-block: 10px;
      }
    }
  }

  &.mobile {
    width: 100vw;
    position: fixed;
    height: 100vh;
    left: -100vw;
    padding: 0;
    top: 0;
    z-index: 99999999999;
    background-color: lightgrey;
    &.show {
      left: 0;
      .open {
        display: block;
      }
    }

    a {
      &.active {
        &::before {
          background: white;
        }
      }
    }
  }
}
